:root {
  --white: #ffffff;
  --color: #222222;
  --background: #d0d8d0;
  --border: #475547;
  --backgroundGradient: linear-gradient(to bottom, var(--white), var(--background));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  background: var(--background);
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.open {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 48px;
  height: 48px;
}

.sidebar {
  position: relative;
  width: 280px;
  height: 100%;
  overflow-x: hidden;
  background-image: var(--backgroundGradient);
  transition: width 0.3s ease;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.4px;
  height: 100%;
  background-color: var(--border);
  cursor: col-resize;
  z-index: 10;
  /* 의사 요소보다 앞에 위치하도록 z-index 설정 */
}

.resizer::before {
  content: '';
  position: absolute;
  width: 15px;
  /* 드래그 가능 영역을 더 넓게 설정 */
  height: 100%;
  left: -7px;
  /* 왼쪽으로 7px 늘림 */
  right: -7px;
  /* 오른쪽으로 7px 늘림 */
  background-color: transparent;
  cursor: col-resize;
  z-index: 5;
  /* .resizer 뒤에 위치하도록 낮은 z-index 설정 */
}

.header {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
}

.close {
  order: 1;
  align-self: flex-end;
}

.header .logo {
  color: var(--color);
  white-space: nowrap;
  order: 2;
  align-self: flex-start;
}

.exit {
  margin-top: 40px;
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: gray;
  line-height: 20px;
  transition: color 150ms;
  width: fit-content;

  text-decoration: none;
  cursor: pointer;
}

.exit:hover {
  color: var(--color);
}

nav {
  padding: 12px 16px;
  opacity: 0;
  animation: fade .5s ease forwards;
}

nav ul {
  min-width: 250px;
  list-style: none;
  padding: 11px 0px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}

nav ul li {
  display: flex;
  font-size: 13px;
}

.radio {
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--border);
  flex-grow: 1;
}

.radio-input {
  display: none;
}

.radio-label {
  padding: 8px 14px;
  font-size: 14px;
  color: var(--border);
  background-color: var(--white);
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  transition: background-color 150ms, color 150ms;
}

.radio-label:not(:last-of-type) {
  border-right: 1px solid var(--border);
}

.radio-input:checked+.radio-label {
  background-color: var(--border);
  color: #FFF;
}


@keyframes fade {
  100% {
    opacity: 1;
  }
}

.content {
  position: relative;
  flex-grow: 1;
  background-image: var(--backgroundGradient);
  overflow-y: scroll;
}

.reader {
  height: 100vh;
}

canvas {
  width: 100%;
}